.easy-tab{
	.tab-header{}
	.tab-header-item{
		display: block;padding: 5px 15px;background: #eee;float: left;cursor: hand;cursor: pointer;
		&.active{
			background: #bbb;color: #fff;
		}
	}
	.tab-body{background:#eee;}
	.tab-body-item{
		padding: 10px;
		display: none;
		&.active{display: block;}
	}

	.tab-header:before, .tab-header:after{content: " ";display: table;}
	.tab-header:after{clear: both;}
}