.easy-tab .tab-header-item {
  display: block;
  padding: 5px 15px;
  background: #eee;
  float: left;
  cursor: hand;
  cursor: pointer; }
  .easy-tab .tab-header-item.active {
    background: #bbb;
    color: #fff; }
.easy-tab .tab-body {
  background: #eee; }
.easy-tab .tab-body-item {
  padding: 10px;
  display: none; }
  .easy-tab .tab-body-item.active {
    display: block; }
.easy-tab .tab-header:before, .easy-tab .tab-header:after {
  content: " ";
  display: table; }
.easy-tab .tab-header:after {
  clear: both; }
